POSTGRES_DB = athiphat
POSTGRES_USER = athiphat
POSTGRES_PASSWORD = athiphat

DATABASE_CLIENT=postgres
DATABASE_NAME = athiphat
DATABASE_HOST = db
DATABASE_PORT = 5432
DATABASE_USERNAME = athiphat
DATABASE_PASSWORD = athiphat

USERNAME = AthiphatNaimsot
EMAIL = athiphatnaimsot@gmail.com
PASSWORD = Athiphat083683




# This was inserted by `prisma init`:
[object Promise]